<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- SqlSession setup for MyBatis Database Layer -->
	<!--<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">-->
	<!-- XML 리로드 CUSTOM -->
	<bean id="sqlSession" class="com.stn.config.RefreshableSqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/egovframework/sqlmap/example/sql-mapper-config.xml" />
		<!--<property name="mapperLocations" value="classpath:/egovframework/sqlmap/**/mappers/*.xml" />-->

		<property name="mapperLocations">
			<array>
				<value>classpath:/egovframework/sqlmap/**/mappers/*.xml</value>
			</array>
		</property>
		<!-- sql log -->
		<property name="plugins">
			<array>
				<bean class="com.stn.interceptor.LogInterceptor"/>
			</array>
		</property>
	</bean>

	<!-- MapperConfigurer setup for MyBatis Database Layer with @Mapper("deptMapper") in DeptMapper Interface -->
 	<bean class="egovframework.rte.psl.dataaccess.mapper.MapperConfigurer">
		<property name="basePackage" value="com.web.**.mapper,egovframework.example.sample.service.impl" />
	</bean>

</beans>